body {
    background-color: #f5f5f5;
}
h1.mainH1 {
        font-family: Courier;
        font-size: 1.8em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.39;
        letter-spacing: normal;
        color: #f5f5f5;
}
/* ==================== SECTION 1 ======================= */

.blackSpan {
    background-color: #000000;
    padding:5px 15px;
}
.hero {
    height: 100vh;
    width: 100%;

}
.hero .two-thirds {
    background: url(../images/portfolio.svg) 105% -5px no-repeat, url(../images/plus-line.svg) top right no-repeat;
    background-size: 38%, auto;
}
.wrapLogo {
    background-color: #87FF00;
    mix-blend-mode: multiply;
    width: 50%;
    height: auto;
    padding: 12% 10%;
    box-sizing: border-box;
    position: absolute;
    bottom: 35%;
    right: -20%;
    z-index: 20;
}
.boxStroke {
    width: 55%;
    height: 285px; /* 35%; */
    z-index: 10;
    top: 35%;
    left: 67%;
    position: absolute;
    border: 3px solid #000000;
}
.picPri {
    background: url(../images/hero-pri.gif) top center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.wrapHeader {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/brain.png) 70% 20% no-repeat;
    background-size: 35%;
    -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 2s infinite;
    animation-timing-function: ease-in-out;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    50% {background-position: 70% 22%;}
  }
  
  @keyframes mymove {
    50% {background-position: 70% 22%;}
  }
.headerContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    line-height: 1.48;
    color: #000000;
}
.headerContent a {
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    background-color: #87FF00;
    text-decoration: none;
    padding: 5px;
}
.headerContent a:hover {
    background-color: #000000;
    color: #87FF00;
}


/* ==================== SECTION 2 ======================= */
.portfolio {
    padding-top: 5%;
    background: url(../images/projects.svg) -5px 0 no-repeat;
    background-size: 30%;
}
h2.h2 {
    font-size: 1.6em;
    font-weight: bold;
    color: #f5f5f5;
    padding: 20px 0;
    margin: 0;
    position: relative;
}
.portfolio h2 span {
    padding-top: 5px;
}
.filter button {
    border: none;
    padding: 10px;
    display: block;
    height: 34px;
    text-transform: inherit;
    font-size: 1em;
    border-left: 1px solid black;
    border-radius: 0;
    line-height: 16px;
    margin: 0;
}
.filter button:hover, .filter button:active, .filter button:focus, .filter :target, .filter .selected {
    background: #87FF00;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.stick {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.grid {
	width: 75vw;
    margin: 0 auto; 
    padding-top: 15px;
}

.grid__item {
	width: 33.333%;
    padding: 0 5px;
    box-sizing: border-box;
	margin: 0;
}
.grid__item img {
    max-width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

/* =================== SECTION THREE ================== */
.articles {
    padding-top: 5%;
}
.articles .columns {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
}
.articles hr {
    border-color: #000000;
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 100%;
    z-index: -1;
}
.articles span.blackSpan {
    border-right: 20px solid #f5f5f5;
}

/* =================== FOOTER ================== */
footer {
    margin-top: 5%;
    background: #000000;
    color: #f5f5f5;
    padding: 5% 0;
}
footer ul li {
    float: right;
}
footer a {
    color: #87FF00;
    text-decoration: none;
}
.fa {
    padding: 10px 0;
    font-size: 1.8em;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color:#87FF00;
    margin-left: 5px;
  }
.fa:hover {
    color: #000000;
    background-color: #87FF00;
}

/* ===================== MEDIA QUERIES ===================== */
@media only screen and (max-width: 720px) {
    
    .boxStroke {
        display: none;
    }
    .hero {
        height: auto;
    }
    .hero .two-thirds {
        background: none;
    }
    .picPri {
        height: 50vh;
    }
    .headerContent {
        margin: 0;
        top: -30px;
        left: 0;
        padding: 0 20px;
        box-sizing: border-box;
        -ms-transform: none;
        transform: none;
        font-size: 1em;
    }
    .wrapHeader {
        height: 50vh;
        background: none;
    }
    .wrapLogo {
        width: 30%;
        height: auto;
        padding: 8% 7%;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: inherit;
    }
    .column, .columns {
        width: 100%;
    }
    .grid {
        width: 100%;
    }
    .grid__item {
        width: 50%;
    }
    .stick {
        position: relative;
    }
    .articles hr {
        width: 50%;
    }
    .articles span.blackSpan {
        border-right: 0 none;
    }
  }